{% load bootstrap %}

{% if opcao == 'reservar' %}
    <div>
        {% if date_reserva %}
        <strong>{{ date_reserva|date:"d F Y H:i" }}</strong>
        {% else %}
        <strong>{% now "d F Y H:i" %}</strong>
        {% endif %}
    </div>
    {{ form|bootstrap }}

    {% if objects %}
    <div class="text-success">Relação de espacos.</div>
    <hr>
    {% for item in objects %}
    <div><input type="checkbox" name="espacos" value="{{item.id}}" /> {{item.nome}}.</div>
    {% endfor %}
    {% else %}
    <div>Nenhum espaço disponível para reservar.</div>
    {% endif %}

{% endif %}

{% if opcao == 'lista-usuarios' %}
    
    <ul style="list-style: none; padding: 2px; margin-top: 1em;">
    {% if objects %} 
        {% for item in objects %}
            <li><input type="radio" value="{{item.id}}" name="oi" > - {{item.get_full_name}} </li>
        {% endfor %}
    {% else %}
        <li>Aquardando pesquisa.</li>
    {% endif %}
    </ul>
{% endif %}