{% load bootstrap %}

{% block content %}
<div id="show-pagina">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Usuários</h6>
        <div class="text-muted pt-3">
            {% if action == 'list' %}
                <span>
                    <a href="#" data-toggle="modal" class="nav-link"
                        data-target="#form-modal"
                        data-action="create"
                        data-titulo="Novo Gestor"
                        data-url='{% url 'space:manage-gestores' 'add_item' %}' >
                        <i class="fa fa-plus-circle"></i> Create</a>
                </span>
            {% endif %}
            {% if form %}
                <form action="" method="POST" class="col-12">
                    {% csrf_token %}
                    {{form|bootstrap}}
                    <input type="submit" value="Gravar" class="btn btn-success">
                    <a href="{% url 'space:gestores' %}" class="btn btn-warning">Fechar</a>
                    {% if object %}
                        <a href="{% url 'space:manage-gestores' object.id 'delete' %}" class="btn btn-danger">Excluir</a>
                    {% endif %}
                </form>
            {% else %}
                {% if objects %}
                    <ul>
                        {% for item in objects %}
                            <li><a href="{% url 'space:manage-gestores' item.id 'update' %}">{{item}}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Nenhum objeto encontrado.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}